/*variables*/
/*mapa*/
.nombre {
  width: 60%; }

.s1h__b {
  width: 50%; }

.contacto {
  width: 33.33%; }

/*map-get*/
/*en componentes, lo uso en .s2__1 div y en .s2__2 div*/
/*el extend lo ujse en componentes, con .s1c__compatibilidad*/
/*el include lo use en componentes*/
* {
  margin: 0;
  padding: 0; }

body {
  background-image: url(/imagenes/fondovioleta.svg);
  background-size: cover;
  font-family: 'PT Sans Narrow', sans-serif;
  font-family: 'Raleway', sans-serif;
  font-family: 'Redressed', cursive; }

button {
  border: 1px solid black;
  display: inline; }

form {
  border: 2px solid black;
  background-color: aliceblue;
  margin: 5% 10% 5% 10%; }
  form div {
    padding: 1%;
    text-align: center;
    margin-top: 1%;
    margin-bottom: 1%;
    font-family: Arial, Helvetica, sans-serif; }

header {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.nombre {
  display: none; }

li {
  display: inline-block;
  position: relative;
  text-align: center;
  padding: 1px;
  margin-top: 2px;
  margin-bottom: 1px;
  background-color: #e4eff1;
  font-family: Arial, Helvetica, sans-serif; }

ul {
  list-style: none; }

li {
  padding: 3px;
  margin: 1px;
  color: black; }

header {
  background-color: plum; }

.logo {
  display: none; }

.btn-open-sidebar {
  display: none; }

.nav__item--oculto {
  display: none; }

.s1 div {
  width: 60%;
  padding: 5%;
  margin-top: 5%;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 5%;
  font-size: 25px;
  text-align: center;
  border: 3px solid black;
  background: url(/imagenes/1.jpg);
  color: aliceblue;
  border: solid aliceblue; }

.s2__1 {
  position: relative;
  display: flex;
  flex-direction: horizontal; }

.s2__2 {
  position: relative;
  display: flex;
  flex-direction: horizontal; }

.s2__1 div {
  width: 12%;
  height: 12%;
  margin: 3% 2% 2% 2%; }

.s2__2 div {
  width: 12%;
  height: 12%;
  margin: 3% 2% 2% 2%; }

.s2 div img {
  width: 100%;
  height: 100%;
  display: inline; }

.s2 div p {
  background-color: aliceblue;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: purple; }

.s3 {
  border: purple;
  background-color: transparent;
  margin-top: 2%;
  margin-bottom: 3%;
  margin-left: 5%;
  margin-right: 5%;
  text-align: center; }

.s3 p {
  color: aliceblue; }

.card-img-top {
  width: 20%;
  height: 20%; }

.s1a__titulo, .s1c__compatibilidad {
  width: 60%;
  height: 80%;
  background-color: transparent;
  margin: 5% 20% 0% 20%;
  text-align: center; }
  .s1a__titulo h1, .s1c__compatibilidad h1 {
    color: aliceblue;
    font-size: 40px;
    border-left: 1px solid aliceblue;
    border-right: 1px solid aliceblue; }

.s1a__imagen {
  width: 50%;
  height: 50%;
  margin-top: 5%;
  margin-left: 25%;
  margin-bottom: 5%; }
  .s1a__imagen img {
    width: 100%;
    height: 100%;
    border: 2px solid black; }

.s1a__h3 h2 {
  font-size: 12px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  line-height: 20px;
  background-color: aliceblue;
  padding: 2%;
  margin: 5% 10% 5% 10%;
  border: 1px solid black; }

.s1h__a {
  background-color: transparent;
  padding: 3px;
  height: 60%;
  width: 60%;
  text-align: center;
  margin: 5% 20% 1% 20%; }

.s1h__b {
  background-color: transparent;
  padding: 3px;
  height: 50%;
  width: 50%;
  text-align: center;
  margin: 1% 25% 5% 25%; }

.s1h__a h1, .s1h__b p {
  color: aliceblue; }

legend {
  color: purple; }

.datos {
  font-family: Arial, Helvetica, sans-serif;
  border: 0.5px solid black;
  padding: 0.5%;
  margin-top: 1%; }

.signo {
  font-family: Arial, Helvetica, sans-serif;
  border: 0.5px solid black;
  padding: 0.5%;
  margin-top: 1%; }

.s1c__compatibilidad {
  width: 50%;
  height: 50%;
  margin-top: 5%;
  margin-left: 25%;
  margin-bottom: 5%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif; }

.comp div h2 {
  background-color: aliceblue;
  border: 1px solid black;
  text-align: center;
  margin: 2% 10% 2% 10%;
  font-family: Arial, Helvetica, sans-serif; }

.ubi div {
  position: relative;
  display: flex; }

.ubi div p {
  border-left: 1px solid aliceblue;
  width: 20%;
  height: 20%;
  margin: 2% 10% 2% 10%;
  padding: 1%;
  color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px; }

.ubi img {
  border: transparent;
  margin: 2% 10% 2% 10%; }

.servicios h1 {
  border: solid black;
  background-color: aliceblue;
  margin: 5% 25% 5% 25%;
  width: 50%;
  height: 50%;
  text-align: center;
  font-size: 30px; }

.servicios img {
  margin: 1% 37.5% 5% 37.5%;
  width: 25%;
  height: 25%;
  border: 2px solid black; }

.servicios div p {
  background-color: transparent;
  margin: 2% 25% 5% 25%;
  width: 50%;
  height: 50%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: aliceblue;
  border-left: 1px solid aliceblue;
  border-right: 1px solid aliceblue; }

.sc div h2 {
  border: solid black;
  background-color: aliceblue;
  margin: 5% 25% 5% 25%;
  width: 50%;
  height: 50%;
  text-align: center; }

.sc div img {
  margin: 1% 37.5% 5% 37.5%;
  width: 25%;
  height: 25%;
  border: 2px solid black; }

.sc div a {
  background-color: blanco;
  margin: 2% 45% 2% 45%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid black; }

.video {
  position: relative;
  display: flex; }
  .video h1 {
    border: 2px solid aliceblue;
    width: 100%;
    height: 20%;
    margin-top: 6%;
    padding: 1%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: aliceblue;
    font-size: 20px; }
  .video iframe {
    border: 2px solid black;
    width: 50%;
    height: 50%;
    margin: 0 15% 5% 10%;
    padding: 2px;
    background-color: aliceblue; }

.menu {
  display: flex;
  flex-direction: row;
  width: auto;
  height: auto;
  justify-content: center;
  align-items: center; }

.menu__contenedor {
  grid-area: menu;
  width: auto;
  height: auto; }

.nombre {
  height: 180px;
  width: 80%;
  margin: 2% 10% 1% 10%;
  text-align: center;
  font-size: 110px; }

.logo {
  width: 11%;
  height: 14%;
  position: absolute;
  top: 70px;
  left: 12%;
  border: 2px solid black; }

.sc {
  padding: 0 1rem; }

.sc__contenedor {
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 2px;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative; }
  .sc__contenedor div a {
    background-color: aliceblue;
    border: 1px solid aliceblue;
    padding: 3px;
    margin-bottom: 2rem; }

.sc__h2 {
  position: absolute;
  top: 0;
  left: 5%;
  width: 90%;
  display: flex;
  justify-content: center;
  height: auto;
  font-size: 12px;
  padding: 1.5px; }

.sc__facebook, .sc__instagram, .sc__telegram {
  width: 33.33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.sc__contenedor div img {
  width: 120px;
  height: 120px; }

.publicidad {
  padding: 0 1rem; }

.publicidad__contenedor {
  max-width: 1200px;
  margin: 0 auto;
  height: auto;
  display: flex;
  flex-direction: column; }

.video h1 {
  text-align: center; }

.s1 div {
  display: inline-block;
  vertical-align: middle;
  border: transparent;
  position: relative;
  box-shadow: 0px 0px 1px black; }

.s1 div:before,
.s1 div:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 8px;
  left: 0px;
  opacity: 0; }

.s1h__a h1 {
  font-size: 25px;
  background-color: transparent; }

p {
  font-size: 22px; }

.s1h__a, .s1h__b {
  transform: translateZ(50%);
  transition-duration: 2s; }

.s1 div:before {
  bottom: 100%;
  background: radial-gradient(ellipse at 50% 100%, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 80%); }

.s1 div:after {
  top: 100%;
  background: radial-gradient(ellipse at 50% -50%, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 80%); }

.s1 div:hover:before,
.s1 div:hover:after {
  opacity: 1; }

.nombre {
  font-family: 'PT Sans Narrow', sans-serif;
  font-family: 'Raleway', sans-serif;
  font-family: 'Redressed', cursive; }

.sc__h2 h1 {
  font-size: 18px; }

.video iframe {
  margin-left: 30%; }

.row__li li {
  text-align: center;
  font-size: 15px;
  background-color: transparent;
  margin: 2%;
  color: aliceblue; }

.row__li li a {
  color: aliceblue; }

.fila1 p, .fila2 p {
  width: 100%;
  text-align: center;
  font-size: 15px;
  border: 1px solid black; }

.s2__1 div, .s2__2 div {
  border: 0px transparent; }

.fila1 img, .fila2 img {
  width: 100%;
  height: 50px;
  text-align: center;
  font-size: 15px; }

.card {
  width: 50%;
  height: 40%;
  font-size: 12px;
  margin-left: 25%;
  margin-top: 10%; }

.s1a__titulo, .s1c__compatibilidad {
  margin-top: 2%;
  margin-bottom: 2%; }

.btn-close-sidebar {
  color: black !important; }

h4 {
  position: relative; }

h4:before {
  content: "";
  position: absolute;
  border: 4px solid aliceblue;
  top: 4px;
  bottom: 4px;
  right: 4px;
  left: 4px;
  opacity: 0;
  transition-duration: 0.3s; }

h4:hover:before {
  opacity: 1; }

.s1c__compatibilidad {
  background-color: transparent;
  border-right: 5px solid pink;
  border-left: 5px solid pink;
  border-top: transparent;
  border-bottom: transparent;
  background-color: transparent;
  font-family: 'Raleway', sans-serif;
  font-family: 'Redressed', cursive;
  padding: 2%;
  margin-top: 2%;
  margin-bottom: 2%;
  text-decoration: double; }

.s2__1 div p, .s2__2 div p {
  width: 100%;
  text-align: center;
  font-size: 15px;
  border: transparent;
  color: aliceblue;
  background-color: transparent; }

.s2__2--signo {
  border: transparent; }

.sc__h2 h1 {
  font-size: 30px;
  margin-top: 3%;
  color: aliceblue;
  border: 1px solid aliceblue;
  padding: 2%; }

.red {
  width: 30%;
  color: aliceblue;
  background-color: black; }

.row div img {
  border: transparent;
  margin-top: 2%; }

.row div a {
  background: transparent;
  border: none; }

.s1h_form {
  background-image: url(/imagenes/1.jpg); }

.s1 {
  margin-left: 8%; }

.s1 H1 {
  font-size: 70px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }

button {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  z-index: 0;
  background: #fff;
  overflow: hidden;
  border: 2px solid purple;
  color: purple; }

button:hover {
  color: #fff; }

button:hover:after {
  height: 100%; }

button:after {
  content: "";
  position: absolute;
  z-index: -1;
  transition: all 0.3s ease;
  left: 0;
  top: 0;
  height: 0;
  width: 100%;
  background: purple; }

label div fieldset form {
  color: purple; }

footer {
  padding: 2rem 1rem; }

.footer__contenedor {
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 2px;
  min-height: 20vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black; }

.logo {
  border: transparent; }

.logo2 {
  width: 10%;
  height: 8%;
  position: relative;
  border: transparent;
  margin-left: 5%; }

.redes img {
  width: 35px;
  height: 35px;
  display: inline;
  border: 1px solid black; }

.contacto {
  width: 33.33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.Copyright {
  font-family: Arial, Helvetica, sans-serif;
  color: aliceblue;
  font-size: 12px;
  text-align: center; }

.redes {
  width: 33.33%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }

footer {
  background-color: black;
  margin-top: 6%; }

@media screen and (max-width: 1024px) {
  header, .footer__contenedor {
    flex-direction: column;
    border: 0px; }
  .fila1, .fila2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
  .fila1 div, .fila2 div {
    margin: 3%;
    width: 20%; }
  .sc__contenedor {
    flex-direction: column; }
  .sc__h2 {
    position: relative;
    width: 90%;
    margin: 1px 5% 5px 5%; }
  .logo {
    display: none; }
  .btn-open-sidebar {
    display: inline-block;
    background-color: aliceblue;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    color: purple; }
  ul {
    background-color: aliceblue;
    width: 80%;
    max-width: 400px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    transition: transform 0.5s;
    z-index: 100; }
  #sidebar:target {
    transform: translateX(0); }
  .nav__item--oculto {
    display: block; }
  .menu__contenedor {
    flex-direction: row; }
  .nav-enlace {
    width: 30px;
    height: 30px;
    color: red; }
  .nombre {
    display: none; }
  .header {
    background-color: plum; }
  .footer {
    background-color: black; }
  .s1 div h1 {
    font-size: 20px; }
  .s2__1 div p, .s2__2 div p {
    font-size: 10px; }
  .s3 div p {
    font-size: 15px; }
  form {
    height: 17%;
    background-color: aliceblue; }
  button {
    width: 25px;
    height: 30px;
    text-align: center; }
  label div fieldset form {
    font-size: 2px;
    text-align: center; }
  .s1h__a h1, .s1h__b p {
    font-size: 18px; }
  legend {
    font-size: 10px;
    color: purple; }
  .card-body p {
    font-size: 12px; }
  .s1a__titulo, .s1c__compatibilidad {
    font-size: 15px; }
  .servicios h1 {
    font-size: 20px; }
  .servicios div p {
    font-size: 15px; } }

@media screen and (max-width: 600px) {
  header, .footer__contenedor {
    flex-direction: column;
    border: 0px; }
  .fila1, .fila2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
  .fila1 div, .fila2 div {
    margin: 3%;
    width: 20%; }
  .sc__contenedor {
    flex-direction: column; }
  .sc__h2 {
    position: relative;
    width: 90%;
    margin: 1px 5% 5px 5%; }
  .logo {
    display: none; }
  .btn-open-sidebar {
    display: inline-block;
    border: 1px solid black;
    color: black;
    border-radius: 5px;
    padding: 0.5rem 1rem; }
  .menu ul {
    background-color: black;
    width: 80%;
    max-width: 400px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    transition: transform 0.5s;
    z-index: 100; }
  #sidebar:target {
    transform: translateX(0); }
  .nav-enlace {
    width: 30px;
    height: 30px;
    color: red; }
  .nav__lista {
    flex-wrap: wrap;
    gap: 20px; }
  /* Menu lateral */
  .btn-open-sidebar {
    display: inline-block;
    background-color: aliceblue;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    color: purple; }
  ul {
    background-color: aliceblue;
    width: 80%;
    max-width: 400px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    transition: transform 0.5s;
    z-index: 100; }
  #sidebar:target {
    transform: translateX(0); }
  .nav__item--oculto {
    display: block; }
  .menu__contenedor {
    flex-direction: row; }
  .nombre {
    display: none; }
  .header {
    background-color: plum; }
  .footer {
    background-color: black; }
  .s1 div h1 {
    font-size: 15px; }
  .s2__1 div p, .s2__2 div p {
    font-size: 8px; }
  .s3 div p {
    font-size: 12px; }
  form {
    height: 15%;
    background-color: aliceblue; }
  button {
    width: 25px;
    height: 30px;
    text-align: center; }
  label div fieldset form {
    font-size: 2px;
    text-align: center; }
  .s1h__a h1, .s1h__b p {
    font-size: 15px; }
  .card-body p {
    font-size: 12px; }
  .s1a__titulo, .s1c__compatibilidad {
    font-size: 15px; }
  .servicios h1 {
    font-size: 17px; }
  .servicios div p {
    font-size: 12px; } }
