header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
.nombre{
    
    display: none;

}

li{
    display: inline-block;
    position: relative;
    
    
    text-align: center;
    padding: 1px;
    margin-top: 2px;
    margin-bottom: 1px;
    background-color: rgb(228, 239, 241);
    font-family: Arial, Helvetica, sans-serif;
    
   
   
}
ul{list-style: none;} 
  
li{
    padding: 3px;
    margin: 1px;
    color: $negro;
    
}

header{
    background-color: plum;
}

.logo{
    display: none;

}

.btn-open-sidebar {
    display: none;
}

.nav__item--oculto {
    display: none;
}